.row
  .span12
    = render 'timetrack'
//    %h1 Listing timestamps

//    %table.table.table-striped
//      %tr
//        %th Date
//        %th Start
//        %th End
//        %th Duration
//        %th
//        %th
//        %th

//      - @timestamps.each do |timestamp|
//        %tr
//          %td= timestamp.date
//          %td= timestamp.starttime
//          %td= timestamp.endtime
//          %td= timestamp.duration
//          %td= link_to 'Show', timestamp
//          %td= link_to 'Edit', edit_timestamp_path(timestamp)
//          %td= link_to 'Destroy', timestamp, :confirm => 'Are you sure?', :method => :delete
//      %tr
//        %td{:colspan=>"7"}
//          %b 
//            Carryover:
//            = @balance

//    %br

//    = link_to 'New Timestamp', new_timestamp_path
    
    
    
