#demo
  .cs_container
    .cs_page
      %h3 INDEX PLAYGROUND
      = link_to "ajax", playground_path(@playground), :class=>"cs_link", :remote => true
      = link_to "first elemenet", playgrounds_path(:anchor => "1") # investigate
    .cs_page.cs_target
      PAGE2
