/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.text-bottom { vertical-align:text-bottom!important; }
.middle { vertical-align:middle; }

.alert { text-align:center; background-color:transparent!important; border:none!important; font-weight:bold; }
.alert-success { background-color:transparent!important; }

.devisebox {
	background: none repeat scroll 0 0 #D9D9D9;
    clear: both;
    min-height: 62px;
    padding: 15px;
    position: relative;
    width: 400px;
	margin: 50px auto;
	box-shadow:1px 1px 1px #bbb inset, -1px -1px 1px #f0f0f0 inset;
	border-radius:3px;
}