//#clock { 
//  line-height:100px; font-family: "Ubuntu"; 
//}

//#clock span { display:inline; font-size:100px; text-align:center; text-shadow:0 0 5px #0088CC; }
//#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

///* Simple Animation */
//@-webkit-keyframes mymove {
//  0% {opacity:1.0; text-shadow:0 0 20px #0088CC;}
//  50% {opacity:0; text-shadow:none; }
//  100% {opacity:1.0; text-shadow:0 0 20px #0088CC; }
//}

//@-moz-keyframes mymove {
//  0% {opacity:1.0; text-shadow:0 0 20px #0088CC;}
//  50% {opacity:0; text-shadow:none; }
//  100% {opacity:1.0; text-shadow:0 0 20px #0088CC; }
//}

#calendar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px 3px 3px 3px;
    color: #272727;
    line-height: 1;
    min-height: 300px;
    padding: 1px;
    text-align: left;
    width: 100%;
    margin-bottom:0px;
    margin-top:0px;
    text-align:center;
    box-shadow: 0px 0px 10px #a0a0a0;
}

#calendar-header {
  background-image: -moz-linear-gradient(center top ,#F1F1F1,  #E6E6E6);
  font-size:50px;
  line-height:50px;
  text-transform: uppercase;
  padding:20px 0px;
  vertical-align:middle;
}

#yearSwitcher { min-width: 70%; display:inline-block;}
#calendar-header a { color:#444; padding:5px 20px 10px 20px; cursor:pointer;}
#calendar-header a:hover { text-decoration:none; color:#888; }

#calendar-body { padding:30px 0px 20px 0;  }

#calendar-dates ul { list-style: none outside none; margin: 0 auto; padding: 0 10px; }
#calendar-dates ul li { 
  color: #929292; 
  background: none repeat scroll 0 0 transparent;
    color: #929292;
    float: left;
    font-size: 26px;
    list-style: none outside none;
    padding: 10px;
    height:32px;
    line-height:32px;
    border-radius:100%;
    vertical-align:midle;
    width: 32px;
}

#calendar-dates ul li:hover { text-decoration:underline; }
#calendar-dates ul li.active { color:#333; background: none repeat scroll 0 0 #eee; box-shadow:0px 0px 4px #222 inset; text-decoration:none; }

#calendar-dates ul li a { z-index:1000; }
#calendar-dates ul li a.new { color:#929292; }
#calendar-dates ul li.active a { text-decoration:none; }

#calendar-dates ul li span.weekend { color:#CC0000;}

#calendar-today { padding: 10px 0; }
#calendar-today #dayname { float:left; width:64%; text-transform: uppercase; font-size:70px;  line-height:70px; padding:10px 15px;  font-weight:bold; }
#calendar-today #month { float:right; width:26%; text-transform: uppercase; padding:10px 15px;  font-size:30px; line-height:35px;}

#calendar-footer { 
  border-top: 1px solid #E6E6E6;
  background: none repeat scroll 0 0 #F4F4F4;
  min-height: 100px;
  padding: 10px 0px;
}


#calendar-footer button { font-size:24px; text-transform:uppercase; border:1px solid grey; line-height:80px; margin:10px 0; padding:5px 40px; }


//#starttime, #endtime { padding:10px; }
#starttime h1:hover, #endtime h1:hover { background-color:#fff; boder: 1px solid #a0a0a0; border-radius:5px;}
#starttime h1, #endtime h1 { font-size: 60px; line-height: 60px; }


input[type="text"].bigTextField {
    display: block;
    font-family: "Ubuntu";
    font-size: 70px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0 auto;
    padding:0;
    min-width: 80%;
    margin-top:10px;
    color:#777;
    width: 90%;
    background:#fff;
}

input[type="text"].bigTextField:focus { color:#454545; box-shadow: 0px 0px 2px #a0a0a0 inset; border: 1px solid  #a0a0a0; background:#fff; }

//.start { background: none repeat scroll 0 0 #C6CF52; }
//.end { background: none repeat scroll 0 0 #F15501;}

//#hours ul, #minutes ul { list-style: none outside none; margin: 0; }
//#hours ul li, #minutes ul li { 
//  color: #929292; 
//  background: none repeat scroll 0 0 transparent;
//    color: #929292;
//    float: left;
//    font-family: 'Open Sans Condensed',sans-serif;
//    font-size: 15px;
//    line-height: 100% !important;
//    list-style: none outside none;
//    padding: 10px 5px 5px;
//    width: 18px;
//}

#calendar-error { }
#error_explanation { margin-bottom:30px; }

#calendar-info {
    background: none repeat scroll 0 0 #F4FCE8;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #EDEDED;
    color: #555555;
    line-height: 36px;
    text-align:left;
//    margin: 20px -20px -20px;
//    overflow: hidden;
//    padding: 0 20px;
}

#calendar-info .row {
  padding: 20px 0px;
}
