.pie-wrapper {
  display: inline-block;
  height: 360px;
  width: 366px;
  margin: 10px;

  .pie {
    height: 366px;
    width: 366px;
    position: absolute;

    clip: rect(auto, auto, auto, auto);

    .shadow {
      border: 16px solid #efefef;
      border-radius: 50%;
      height: 366px;
      width: 366px;
      z-index: 1;
      position: absolute;
    }

    .balance-circle {
      margin: 3px;
      border-radius: 50%;

      width: 360px;
      height: 360px;
      position: absolute;

      z-index: 0;
      clip: rect(0, 180px, 360px, 0);
      transform: rotate(90deg);

      &.default {
        border: 10px solid #08c;
      }

      &.positiv {
        border: 10px solid #90c844;
        border: 10px solid #5cb85c;
      }

      &.negative {
        border: 10px solid #d9534f;
      }
    }
  }
}
