body {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: -moz-linear-gradient(center top , #F1F3F6, #DCDFE6 200px);
    background-origin: padding-box;
    background-position: 0 0pt, 0 286px;
    background-repeat: repeat-x, repeat;
    background-size: auto auto;
    margin: 0;
    overflow-x: hidden;
    text-rendering: optimizelegibility;
    background: url("griddle.png") repeat scroll 0 0 transparent;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    color: #454545;
	padding-top:20px;
}


.small {font-size: 11px; color:#aaa;}
.left { text-align:left;}
.center { text-align:center;}
.right { text-align:right;}
.negative {color: #900000; }
.uppercase { text-transform:uppercase; }

#main .header { line-height: 30px; }

#clock { background-color: #F1F1F1; border:1px solid #ddd; margin:15px 0px; }

#clock a.clock { color: #454545; font-size:100px; font-weight: bold; line-height:100px; text-decoration:none;}
#clock ul { width:100%; margin:0 auto; padding:0px; list-style:none; text-align:center; }
#clock ul li { display:inline; font-size:100px;  text-align:center; }

#calendar { border:1px solid #ddd; }

#calendar-head { background-color:#F1F1F1; border-bottom:1px solid #ddd; }
#calendar-head h2 a { vertical-align:middle; padding:0px 10px; color:#454545; font-family:Arial}
#calendar-head h2 a:hover { text-decoration: none; }

#calendar-body {  }

#calendar table { border-collapse: collapse; width: 100%; text-align: center; }
#calendar td, #calendar th { font-size: 10px; }

#calendar th { width: 14.2857142857143%; font-weight:bold; font-size:16px; padding:2px 0px; background:#fafafa; color:#bbb; border-bottom:1px solid #ddd; }
#calendar td { background: #FFF; vertical-align: top; font-size: 20px; padding:0px 0px; height:80px; }

#calendar td.spacer { height:40px; }

#calendar td a { color:#555; }
#calendar td h1 { font-size: 32px; }
#calendar td.active h1 { color:#AA55AA !important;}
#calendar td h1.weekend { color:#ccc; }
#calendar td h1.holiday { color:#900000;}
#calendar td h1.recorded {  color: #0088CC; text-decoration:underline;}

#timetrack-form form.form-inline { background-color: #fff; border-top:1px solid #ddd; padding:15px 0px 15px; margin:0; }
#timetrack-form input[type="text"], #timetrack-form button.now { padding:6px; border: 1px solid #ccc; }
#timetrack-form input[type="text"] { font-size: 24px; line-height: 1.4em; text-align:center; width:100px;}
#timetrack-form button.now { margin-left:-5px; }
#timetrack-form button.btn-primary { padding: 6px; font-weight:bold;}
#timetrack-form select.hidden { height:1px; overflow:hidden; visibility: hidden; display:none; }
#timetrack-form span.duration { font-size: 24px; padding:6px; border: 1px solid #ccc; }

#footer { color: #555; margin: 10px auto; text-align: center; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
